.helper {
	position: fixed;
	z-index: 99999;
	top: 7.6%;
	right: 0;
	height: 50px;
	width: 50px;
	background-color: #182952;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.scam {
	color: #fff;
	font-size: 1.8em;
}

.custom-file-upload, #upload, .start, .helper-delete-all, .select {
    border: none;
	color: #fff;
	font-family: "Poppins", sans-serif;
    display: inline-block;
	background-color: transparent;
    padding: 0 5px;
	font-weight: 700;
    cursor: pointer;
	margin-bottom: 0.5em;
	text-align: start;
	transition: 0.2s;
	border-radius: 4px;
	border: 1px solid white;
}

.custom-file-upload:hover, #upload:hover, .start:hover, .helper-delete-all:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.select {
	padding: 5px;
	background-color: white;
	color: black;
	text-transform: capitalize;
}

.helper-content input[type="file"] {
    display: none;
}

.helper-content {
	padding-top: 7px;
    display: flex;
	font-size: 16px;
    width: 100%;
    flex-direction: column;
}

.helper-content > *:last-child {
	margin-bottom: 0;
}

.helper-header {
	color: #fff;
	width: 100%;
	padding-bottom: 5px;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	border-bottom: 1px solid #E14594;
}

.helper-fun {
	position: fixed;
	z-index: 99999;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
	top: 7.6%;
	right: -250px;
	width: 250px;
	background-color: #182952;
	border-bottom-left-radius: 10px;
	transition: 0.3s;
}

.fun-slide {
	right: 0;
}

.slide {
	right: 250px;
}